@media only screen and (max-width: 769px) and (min-width: 426px)
	.header
		width: calc(100% - 10px)
		height: 35px
		border-bottom-width: 3px
		flex-direction: column
		overflow: hidden
		padding: 0px 5px

		&Empty
			height: 48px

		&Left
			width: 100%
			min-height: 35px
			flex-direction: column
			justify-content: center
			align-items: center

			&Link
				font-size: 15px

				&Image
					width: 30px
					height: 30px

				&Menu
					position: absolute
					display: initial
					width: 30px
					height: 30px
					align-self: flex-end

		&Right
			width: 100%
			min-height: 110px
			flex-direction: column
			align-items: center
			justify-content: space-around
			border-top: 3px solid #555
			padding: 0px 5px

	.error
		&Image
			height: 200px

		&Text
			height: 160px

			&Title
				font-size: 30px

			&Description
				font-size: 15px

	.content
		&Block
			width: calc(100% - 10px)
			padding: 10px 5px

			&Title
				height: 35px
				border-top-width: 3px
				border-bottom-width: 3px
				padding: 0px 5px
				font-size: 17px

			&Data
				padding: 5px 5px
				border-bottom-width: 3px

				&Button
					font-size: 12.5px

				&Label
					font-size: 15px
					padding: 0px 5px
					padding-top: 3px

				&Links
					padding-bottom: 3px 
					
					&Button
						font-size: 12.5px
						padding: 0px 7.5px

				&Text
					font-size: 12.5px

				&Table
					&Column
						&Title
							font-size: 15px
							min-height: 25px
							max-height: 25px

						&Label
							font-size: 10px
							min-height: 20px

				&Image
					width: auto
					max-width: 100% 
					height: auto
					max-height: 100%
				
				&News
					width: calc(100% + 10px)
					height: calc(100% + 10px)
					margin: -5px 0px

					&Button
						height: 30px

						&Date
							padding: 0px 5px
							font-size: 12.5px
							width: 60px

						&Title
							font-size: 12.5px

						&Imp
							font-size: 10px
							padding-bottom: 2px
							top: -36px
							right: -58px

						&Other
							font-size: 12.5px

	.footer
		height: 50px
		width: calc(100% - 10px)
		padding: 0px 5px
		margin-top: 10px
		border-top: 3px solid #f42