html {
	background: url(../images/background.jpg) #000088;
	font-family: Segoe UI;
	font-size: 11pt;
	text-align: center;
}

p, a {
	background-color: #ffffff;
}

.green_text {color: green;}
#red_text {color: red;}
#yellow_text {
	color: yellow;
	background-color: #000000;
}
#blue_text {color: blue;}

a {
	color: red;
	text-decoration: none;
}

a:hover {
	color: blue;
	text-decoration: underline;
}

.surprise:hover {background-color: #00ffff;}
.active_href:active {color: #008800;}
.visited_href:visited {color: #ff00ff;}

big {background-color: #ffffff;}
big:hover {text-transform: uppercase;}
big:active {
	word-spacing: 10px;
	letter-spacing: 10px;
}