html {
	background: url(../images/background.jpg) #000088;
	font-family: Segoe UI;
	font-size: 11pt;
	text-align: center;
}

p {
	background-color: #fff;
}

header {
	width: calc(100% - 24px);
	height: 50px;
	background-color: #fff;
	position: fixed;
	border: 2px solid silver;
	margin: -8px 0px 0px -8px;
	padding: 10px;
}

.empty {
	height: 1500px;
}