html {
	font-family: Segoe UI;
	font-size: 11pt;
	text-align: center;
}

.green_text {color: green;}
#red_text {color: red;}
#yellow_text {
	color: yellow;
	background-color: #000000;
}
#blue_text {color: blue;}